*{margin: 0;padding: 0;background: #E2E2E2;box-sizing: border-box;
	 list-style: none;
	 text-decoration: none;
	 -moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;}

.mySlides {display:none;}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .left{float: left;background: none;}
.left span{color: red;background: none;font-size: 21px;font-family: 'Damion', cursive;}


.topnav a.call {
  background-color: none;
  color: white;
}
#call{background: white;border: none;width: 120px;padding: 7px;font-size: 16px;letter-spacing: 1.2px;outline: none;
border-radius: 35px;box-shadow: 0 0 10px #E3DEDE;color: #4CAF50;font-weight: bold;
}
.project{text-align: center;font-size: 22px;font-weight: bold;color: #928F8F;margin-top: 110px;margin-bottom: 15px}
#slider{
  width:95%;
  height: auto;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  
}

.slide{
  width:100%;
  height: auto;
  display:none;
  animation-name:fade;
  animation-duration:1s;
  
}
.slide img{
 width:100%; 
}
@keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
}

.controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;
  
}

.controls:hover{
  background:white;
  transition:0.3s;
}

.controls:active{
  color:grey;
}

#left-arrow{
  left:10px;color: #276DFD;
}

#right-arrow{
  right:10px;color: #276DFD;
}

#dots-con{
  
  text-align:center;
}
.dot{
  display:inline-block;
  background:#9F9F9F;
  padding:8px;
  border-radius:50%;
  margin:10px 5px;
}

.active{
  background:crimson;
}

@media (max-width:576px){
  #slider{width:100%;
  
  }
  
  .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
}

 

#open-popup1 {padding:10px 35px; background: rgb(22,9,240);
background: linear-gradient(0deg, rgba(22,9,240,1) 0%, rgba(49,110,244,1) 100%);border-radius: 13px;border: none;outline: none;
color: white;font-weight: bold;display: block;margin: 50px auto; }
#open-popup1:hover{border: 2.3px solid rgba(22,9,240,1);color: rgba(22,9,240,1);background: white}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}
.center-align{background-image: linear-gradient(315deg, #504F4F 0%, #8B8989 74%);color: white}
#userInput{border-radius: 20px;padding: 5px 15px;outline: none;background: white}
 h2{text-align: center}
       #userInput{display: block;margin: 0 auto;}
       h4{ border-bottom: 1px solid #E9E7E7;width: 35px;height: 35px;border-radius: 25px;background: white;padding-left: 10px;margin-left: 20px}
       .collection-header h4{margin-left: 10px}
       .collection-item{padding-left: 25px}
.contact {
  cursor: pointer;
  transition: all 200ms ease-in;
}

.contact:hover {
  background: #fff;
}
a{text-decoration: none;}
@media screen and (max-width: 600px) {
  #call{background: #4CAF50;border: none;width: 90px;padding: 3px;font-size: 16px;letter-spacing: 1.2px;outline: none;
border-radius: 35px;box-shadow: none;color: white;font-weight: bold;
}
  
}
footer{width: 100%;height: 100px;background: #434343;border-top: 10px solid white;}
footer p{
  padding: 10px;text-align: center;position: relative;top: 30px;background: none;color: #979797;
}
  
